{% extends "base.html" %}
{% block title %}Account Information{% endblock title %}
{% block devel %} {% endblock devel %}
{% block content %}
<h1>Update your account information</h1>
        <form id="course_request" method="POST">
        <fieldset class="module aligned">
        {% include "form_snippet.html" %}
        </fieldset>
        <div class="submit-row">
        <a class="button" style="float:right" href="{% url profiles.views.profile_detail user.username %}">Cancel</a>
        <input class="default" type="submit" name="_save" value="Submit"/>
        </div>
        </form>

</div>

{% endblock content %}
