{% extends "base.html" %}
{% block title %}
{{ profile.full_name }} - My Account
{% endblock title %}

{% block content %}
<div class="profile_full">
    <h1><a href="{{ object.get_absolute_url }}" title="{{ object.full_name }}"> {{ profile.full_name }}</a></h1>

<table class="contact_full">
<tr><th>Address Line 1</th><td>{{ profile.addr_1 }}</td></tr>
<tr><th>Address Line 2</th><td>{{ profile.addr_2 }}</td></td>
<tr><th>City</th><td>{{ profile.city }}</td></tr>
<tr><th>State</th><td>{{ profile.state }}</td></tr>
<tr><th>Phone Number</th><td>{{ profile.phone }}</td></tr>
<tr><th>Email Address</th><td>{{ profile.email }}</td></tr>

</table>

{% with profile.courserequest_set.all as course_requests %}
<h1>My Outstanding Course Requests</h1>
{% if course_requests %}
<table class="module">
{% include "_courserequest-list.html" %}
</table>
{% else %}
<p>No course requests found. You might be looking for our <a href="/courses">Training Courses</a></p>
{% endif %}
{% endwith %}

<div class="legend">
<ul>
<li><a href="{% url course_request_list %}">My Oustanding Course Requests</a></li>
<li><a href="{% url profiles_edit_profile %}">Update my information</a></li>
<li><a href="{% url auth_password_change %}">Change my password</a></li>
</div>
</div>


<div class="course_requests">

</div>




{% endblock content %}
