/* based on the excellent blueprint typography.css */
/* body font-size was originally 75% */
body {font-size:small;color:#323232;background: #fff url('images_red/n4.gif') repeat-x;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#121212; text-transform: lowercase; }
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#f00;text-decoration:underline;}
a:active { outline: 0 !important; }
a {color:#900;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#C3D9FF;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}



h1,h2,h3,h4,h5,h6
{
font-weight: bold;
color: #323232;
margin-bottom: 0.5em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }

input, textarea
{
border: 2px solid #ccc;
padding: 0.3em;
font-size: 1.2em;
background: #f0f0f0;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus
{
background: #fdfdfd; 
}

input[type=reset]
{
background: #f0f0f0;
border-color: #f0f0f0;
}

input[type=submit]
{
padding-left: 1.5em;
padding-right: 1.5em;
}

input[type=submit]:hover, input[type=reset]:hover
{
background: #aaa;
}

p
{
line-height: 1.2em;

}

#hd
{
height: 6.1em; 
}

#doc3 {
margin: auto 30px;
}

/* logo */

#logo
{
padding-top: 1.0em;
float:left;
}

#logo h1
{
display: inline;
color: #323232;
font-size: 2.6em;
font-weight: bold;
}

#logo h1 span {
font-size: 0.5em;
color: #C7000F;
margin-left: 0.7em;
}

#logo h1 a, #logo h1 a:visited {
    color: #000;
}

#logo h1 a:hover {
    color: #C7000F;
}

#logo h1 a span, #logo h1 a:visited span {
    color: #C700F;
}

#logo h1 a:hover span {
    color: #000;
}

#logo h2
{
display: inline;
padding-left: 0.5em;
color: #E5CCD0;
font-size: 1.0em;
}

#logo a
{
text-decoration: none;
}

/* nav-side */
#nav-side { margin-left: 0; font-size:medium;}

/* nav-top */

#nav-top
{
float:right;
}

#nav-top ul
{
list-style: none;
margin:0;
}

#nav-top li
{
float: left;
}

#nav-top li a
{
display: block;
padding: 1.1em 1.4em 1.0em 1.4em;
background: #fff url('images_red/n4.gif') repeat-x;
color: #616161;
font-size: 1.2em;
text-transform: lowercase;
text-decoration: none;
}

#nav-top li a.active, #nav-top li a:hover
{
background: #CA2F2F url('images_red/n3.gif') repeat-x;
color: #fff;
}

/* post */
div.post
{
position: relative;
}

div.post h3
{
position: relative;
font-size: 1.7em;
padding-bottom: 1.2em;
}

div.post ul.post_info
{
list-style: none;
font-size: 0.8em;
padding-left: 0;
}

div.post ul.post_info li
{
background-position: 0em 0.2em;
background-repeat: no-repeat;
display: inline;
padding-left: 18px;
}

div.post ul.post_info li.date
{
background-image: url('images_red/n5.gif');
}

div.post ul.post_info li.comments
{
background-image: url('images_red/n6.gif');
margin-left: 1.1em;
}

div.post ul
{
padding-left: 15px;
}



/* footer */
#ft
{
margin: 0 auto;
text-align: center;
clear: both;
border-top: dotted 1px #E1E1E1;
margin-top: 1.0em;
margin-bottom: 1.0em;
padding-top: 1.0em;
text-transform: lowercase;
}

label { font-size: 1.2em; }

/* nav-top mappings */
#home a.n_home, #home a.n_home:hover,
#about a.n_about, #about a.n_about:hover,
#account a.n_account, #account a.n_account:hover,
#charts a.n_charts, #charts a.n_charts:hover,
#services a.n_services, #services a.n_services:hover,
#signup a.n_signup, #signup a.n_signup:hover,
#login a.n_login, #login a.n_login:hover
#nav-top a.active, #nav-top a.active:hover {
background: #CA2F2F url('images_red/n3.gif') repeat-x;
color: #fff;
}


/* errors */
ul.errorlist li, p.error { border: 1px solid #777; background: #fcc; color: #900; padding: 5px; }
ul.errorlist { padding-left: 0; padding-right: 0; margin: 0; }

/* probable yui killers */
#bd, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {
margin:0 auto;
width:920px;
}

.yui-t1 #yui-main .yui-b {margin-left:7.3077em;}
.yui-t1 .yui-b {float:left; width:6.3077em;}


/* -------------- from the devel blocks ----------- */
/* chart_detail */
div.chart { margin-top: 3em; }
div.chart img { text-align: center; margin-left: 12em;}
div.legend {
background:#F0F0F0;
/* border:1px solid #D2D2D2; */
float:right;
padding:10px;
width:12em;
font-size:1.2em;
margin-top: 12em;
text-transform: lowercase;
}
div.hidethis, div.hidethis a { color: white; }
div.legend h3 {
/*border-bottom:1px solid #CCCCCC;*/
padding-bottom:4px;
}
ul.legend_items { font-size: small; margin: 1em; text-align:left}
span.legendbox { width: 2em; height: 1em; float: left; margin-right: 1em }


/* account_list */
div.account {
width: 50em;
height: 4em;
border: 4px solid #fafafa;
background: #f0f0f0;
margin: 0 auto;
padding: 2em;
vertical-align: middle; }
div.account span { margin-top: 1em; font-size: 1.5em; }

div.registered { border-color: #393; background: #9c9; }
div.unregistered { border: 1px solid #C33; background: #c99; }

div.account img.service_spark { text-align: center; }
div.account a.charts_link { float: right; border: 10px solid #fff; background: white; text-decoration: none;}

ul.accounts_list { list-style-type: none; margin: 1em 0; }
ul.accounts_list li { margin: 1em auto;  }

div.hidethis, div.hidethis a { color: white; }
div.service_icon { width: 48px; height: 48px; float: left; margin-right: 2em; }

div.service_title { font-size:medium; text-transform: lowercase; }
div.service_title a { text-decoration: none; }
h1.center, h2.center { text-align: center; }


#id_subject_0 {
	margin-bottom: 1em; }


/* --------- service icons ---------- */
div.icon_small_MySpace {
background: url("/media/services/myspace/myspace_logo_48.jpg") no-repeat;
}

#nav-next-prev { height: 2em; }

#nav-user { color: #929292; }

div.chart_thumb_box { background: #f0f0f0; float: left; padding: 2em; text-align: center; margin-left: 1em; margin-bottom: 2em; }
div.chart_thumb_box img { background: #fff; padding: 1em; margin-bottom: 1em; } 