{% if object.course %}
<form id="course_request" method="POST" action=".">
<fieldset class="module aligned">
    <h3><a href="{{ object.get_absolute_url }}" >Update your request</a></h3>
{% else %}
<form id="course_request" method="POST" action="{% url course_request_create object.slug %}">
<fieldset class="module aligned">
    <h3><a href="{{ object.get_absolute_url }}" >Request this course</a></h3>
{% endif %}

{% include "form_snippet.html" %}
</fieldset>
<div class="submit-row">
<input class="default" type="submit" name="_save" value="Submit"/>
</div>
</form>
