<div class="course_full">
    <h1><a href="{{ object.get_absolute_url }}" title="{{ object.name }}"> {{ object.name }}</a></h1>
    <h2> {{ object.subject }} </h2>
    <div class="description">
        <p> {{ object.description }} </p></div>
    <dl class="course_details">
        <dt>Minimum Number of Students</dt>
        <dd>{{ object.min_required_students }}<dd>
        <dt>Cost Per Student</dt>
        <dd>{% if object.cost %}${{ object.cost }} {% else %} Please <a href="/contact/">Contact Us</a> for more information{% endif %}</dd>
        <dt>Duration</dt>
        <dd>{{ object.duration }}</dd>
    </dl>
</div>
