{% extends "base.html" %}

{% block title %}Courses{% endblock %}
{% block devel %}

{% endblock devel %}
{% block content %}
{% if object_list %}
<h1><a name="top" href="#top">Our Courses</a></h1>

{% include "_course-list_header.html" %}

{% regroup object_list by subject as people_list %}
<div class="legend">
<ul>
{% for subject in people_list %}
<li class="legenditem"><a href="#{{ subject.grouper|slugify }}">{{ subject.grouper }}</a></li>
{% endfor %}
</ul>

</div>
 

<ul class="course_list">
{% for subject in people_list %}
    <li><h2><a name="{{ subject.grouper|slugify }}" class="anchor" href="#top" >{{ subject.grouper }}</a></h2>
    <ul>
        {% for object in subject.list %}
        <div class="course_sm">
        <span style="float: left; padding-right: 4px; width: 5.2em">{{ object.duration }}</span>
        <h3><a href="{{ object.get_absolute_url }}" title="{{ object.name }}">{{ object.name }}</a></h3>   
        </div>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
{% else %}
We currently have no available courses.
{% endif %}
{% endblock content %}
