{% extends "base.html" %}
{% load adminmedia %}
{% block title %}{{ course.name }} - Courses{{ block.super }}{% endblock %}
{% block css.custom %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/base.css"/>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/global.css"/>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/widgets.css"/>
{% endblock %}
{% block js.custom %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<div class="yui-gc">
    <div class="yui-u first">
        {% with course as object %}
        {% include "_course-full.html" %}
        {% endwith %}
    </div>
    <div class="yui-u">
        {% include "_courserequest-form.html" %}
    </div>
</div>
{% endblock content %}
