{% extends "base.html" %}

{% block title %}Courses{% endblock %}
{% block devel %}

{% endblock devel %}
{% block content %}
{% if object_list %}

{% for object in object_list %}
<div class="course_sm" style="background: {% cycle '#f7f7f7' '#fefefe' %}">
    <h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2> 
    <h4>{{ object.subject }}</h4>
    <p class="desc">{{ object.description }}</p>

    <div class="button button_request"><a href="{% url tiger.views.course_request_create object.slug %}">Request this course</a></div>
</div>
{% endfor %}
</fieldset>
{% else %}
We currently have no available courses.
{% endif %}
{% endblock content %}
