{% extends "base.html" %}
{% block title %}
{{ object.name }} - Courses
{% endblock title %}

{% block content %}
<div class="yui-gc">
    <div class="yui-u first">
        {% include "_course-full.html" %}
    </div>
    <div class="yui-u">
        {% with object as course %}
        {% include "_courserequest-form.html" %}
        {% endwith %}
        <a class="button button_request" href="{% url tiger.views.course_request_create object.slug %}">Request this course</a>
    </div>
</div>


{% endblock content %}
