{% extends "base.html" %}
{% block title %}Course Request - {{ object.course.name }}{%endblock %}
{% block content %}

{{ object }}

<h1>{{ object.course.name }}</h1>

{% with object.course as object %}
<ul class="course_list">
<li>
        <div class="course_sm">
        <span style="float: left; padding-right: 4px; width: 5em">{{ object.duration }}</span>
        <h3><a href="{{ object.get_absolute_url }}" title="{{ object.name }}">{{ object.name }}</a></h3>   
        </div>

</li>
</ul>
{% endwith %}

<p>Between {{ object.availability_start|date }} and {{ object.availability_end|date }}</p>

{% with object.course as course %}
{% include "_course-full.html" %}
{% endwith %}

{% endblock content %}
