{% extends "base.html" %}
{% block title %}
{{ object.name }} - Profile
{% endblock title %}

{% block content %}
<div class="course_full">
    <h1><a href="{% url tiger.views.profile_detail object.slug %}" title="{{ object.first_name }}"> {{ object.first_name }} {{ object.last_name }}</a></h1>
    <h2> {{ object.subject }} </h2>
    <p> {{ object.description }} </p>
    <dl>
        <dt>Minimum Number of Students</dt>
        <dd>{{ object.min_required_students }}<dd>
        <dt>Cost Per Student</dt>
        <dd>{{ object.cost }}</dd>
    </dl>
    <a class="request_button" href="{% url tiger.views.course_request_create object.slug %}">Request this course</a>
</div>


{% endblock content %}
