{% extends "layouts/layout_2_columns_xnarrow_left_column.html" %}
{% block 1 %}
{% block nav-main %}
{% include "shared/navmenu.html" %}
{% endblock nav-main %}
{% endblock 1 %}

{% block 2 %}
    {% block messages %}
    {% if messages %}  
    <div id="messages">  
      {% for message in messages %}  
{#         <p class="m{{ message|slice:"0:1"}}">{{ message|slice:"2:" }}</p>  #}
      {% endfor %}  
    </div>
    {% endif %}
    {% if flash.messages %}
    <div id="messages">	
        {% for value in flash.messages %}
	    <p class="m{{ value|slice:"0:1" }}">{{ value|slice:"2:" }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% endblock messages %}
    {% block content %}{% endblock content %}
{% endblock 2 %}
