{% extends 'layouts/layout_base.html' %}
{% load media %}{% load adminmedia %}
{% block head %}
  <head>
    {% block meta %}
    <meta http-equiv="content-type" content="{% block meta.content-type %}text/html;charset=UTF-8{% endblock meta.content-type %}" />
    <meta name="description" content="{% block meta.description %}{% endblock meta.description %}" />
    <meta name="keywords" content="{% block meta.keywords %}{% endblock meta.keywords %}" />
    {% endblock meta %}

    <title>{% block title %}{% endblock title %} - WBCMS - Tiger Solutions</title>

    {% block css %}
    {% block css.shared %}
	<link rel="stylesheet" type="text/css" href="{% media_prefix %}css/reset-fonts-grids.css" />
	<link rel="stylesheet" href="{% media_prefix %}css/styles.css" type="text/css" />
	<link rel="stylesheet" href="{% admin_media_prefix %}css/forms.css" type="text/css" />
	<style type="text/css">{% block devel %}{% endblock devel %}</style>
    {% endblock css.shared %}
    {% block css.custom %}{% endblock css.custom %}
    {% endblock css%}

    {% block js %}
    {% block js.shared %}{% endblock js.shared %}
    {% block js.custom %}{% endblock js.custom %}
    {% endblock js%}
    {% block extrahead %}{% endblock extrahead %}
  </head>
{% endblock head %}

{% block header %}
<!-- BEGIN header -->
<div id="header">
{% block nav-user %}
<div id="nav-user" style="text-align:right;">
{% if user.is_authenticated %}welcome, {{ user.username }} <a href="/logout">logout</a>{% endif %}
{% if user.is_authenticated %}
<a class="n_profile" href="{% url profiles.views.profile_detail user.username %}" title="Profile">My Account</a>
{% if user.is_staff %}
<a class="n_admin" href="/admin/" title="Admin">Admin</a>
{% endif %}
{% endif %}
</div>
{% endblock nav-user %}

{% block header_content %}{% include 'shared/header.html' %}{% endblock header_content %}
</div>
<!-- END header -->
{% endblock header %}

# This file should contain any override to the layout_base.html